@import url("./utility.css");

@font-face {
  font-family: "intertight";
  src: url("./fonts/intertight-variable-font.woff2");
}

body {
  height: 100vh;
  min-height: 100vh;
  font-family: "intertight", monospace;
}

.content {
  display: flex;
  height: 100%;
}

.display-info {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 0px 30px 50px;
  padding-left: 60px;
}

.weather-form {
  background-color: #000000d9;
  color: white;
  width: 28%;
}

.display-info h1 {
  font-size: 7rem;
}
.location h2 {
  font-size: 4rem;
  font-weight: 400;
}

.display-info div h5 {
  font-size: 1rem;
  font-weight: 400;
}

.container {
  display: flex;
  align-items: stretch;
  align-self: flex-end;
  gap: 50px;
}

.weather {
  margin-top: auto;
}

.weather h5 {
  text-align: center;
}

.search-component {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: flex-end;
}

.search-component input {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  flex: 0 1 auto;
  width: 100%;
  margin-inline: 20px;
  color: white;
}

.search-component button {
  border: 0;
  flex: 0 1 auto;
  aspect-ratio: 1/1;
  height: 100%;
  background-color: rgb(43, 234, 234);
}

.search-component button svg {
  height: 100%;
  width: 100%;
  flex: 0 0 auto;
  max-width: 1.5rem;
  margin-inline: auto;
}

body.sunny {
  border-image: fill 1 linear-gradient(#ffff001a, #ffa500b8);
}

body.rain {
  border-image: fill 1 linear-gradient(#4b4b4b1a, #060606e3);
}

body.cloudy {
  border-image: fill 1 linear-gradient(#4b4b4b1a, #060606b8);
  color: white;
}

body.clear {
  border-image: fill 1 linear-gradient(#004a804a, #00adff87);
}

body.light-rain {
  border-image: fill 1 linear-gradient(#4b4b4b1a, #8f8f8fb8);
}
